@media (min-width: 800px) {
  body {
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url("./background_mobile.jpg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: rgba(43, 59, 62, 0.4) !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  color: whitesmoke;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  align-content: initial;
  color: #7e7e7b;
}

footer p {
  margin-bottom: 0.25rem;
}

a {
  color: #fcfcf5 !important;
}

a:hover {
  text-decoration: none !important;
}

button {
  background-color: #29363a !important;
}
